.everywhere {
    height: 100%;
    background: rgb(100, 16, 16);
}

h1 {
    text-align: center;
}

.header {
    margin: 0, auto;
}

.text {
    color: #FFFFFF;
}

#questionsArea {
    position: relative;
    margin: 0, auto;
    height: 750px;
    background-image: url("../images/ringInHand.jpg"); 
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#whiteText {
    color: #FFFFFF;
}

#startButton {
    position: absolute;
    top: 40%;
    width: 30%;
    margin-right: 35%;
    margin-left: 35%;
}

#timerArea {
    text-align: center;
    color: white;

}